version: "3"
services:
    redis:
        image: "redis:alpine"
        command: redis-server --save "" --appendonly no
        ports:
        - "6379:6379"
    transaction_api:
        build:
            context: .
            dockerfile: Dockerfiles/Dockerfile.transactions
        ports:
        - "5000:5000"
        depends_on:
        - "redis"
        environment:
        - REDIS_IP=redis
        - HOST="transaction_api"
        - BLOCKCHAIN_IP=blockchain_api
    blockchain_api:
        build:
            context: .
            dockerfile: Dockerfiles/Dockerfile.blockchain
        ports:
        - "5001:5001"
        environment:
        - REDIS_IP=redis
        - NODES_IP=node_api
    node:
        build:
            context: .
            dockerfile: Dockerfiles/Dockerfile.node
        environment:
        - REDIS_IP=redis
        - NETWORK_IP=blockchain_api
        depends_on:
        - blockchain_api
        - redis
        - transaction_api
        volumes:
        - ./logging:/logging:rw
