---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-deployment
  labels:
    app: blockchain-node
    username: alexwitt
    env: test
spec:
  replicas: 2
  selector:
    matchLabels:
      app: blockchain-node
  template:
    metadata:
      labels:
        app: blockchain-node
        username: alexwitt
        env: test
    spec:
      containers:
      - name: blockchain-node
        image: alexwitt23/node
        env:
        - name: REDIS_IP
          value: "10.109.157.242"
        imagePullPolicy: Always
