---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: blockchain-transaction-deployment
  labels:
    app: blockchain-transaction
    username: alexwitt
    env: test
spec:
  replicas: 1
  selector:
    matchLabels:
      app: blockchain-transaction
  template:
    metadata:
      labels:
        app: blockchain-transaction
        username: alexwitt
        env: test
    spec:
      containers:
      - name: blockchain-transaction
        image: alexwitt23/coe332-hw07
        ports:
        - name: flask
          containerPort: 5000
        env:
        - name: "REDIS_IP"
          value: "10.103.175.2"
        imagePullPolicy: Always
        command: [ "python3", "api.py" ]
