---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: blockchain-deployment
  labels:
    app: blockchain-flask
    username: alexwitt
    env: test
spec:
  replicas: 1
  selector:
    matchLabels:
      app: blockchain-flask
  template:
    metadata:
      labels:
        app: blockchain-flask
        username: alexwitt
        env: test
    spec:
      containers:
      - name: blockchain-flask
        image: alexwitt23/blockchain-api
        ports:
        - name: flask
          containerPort: 5001
        env:
        - name: "REDIS_IP"
          value: "10.97.17.66"
        imagePullPolicy: Always
